@font-face {
    font-family: "Audiowide";
    src: url(assets/audiowide/Audiowide-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --theme-color-light: rgba(214, 203, 199);
    --theme-color-dark: rgba(51, 45, 42);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.3;
    /* border: 1px dotted red; */
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--theme-color-dark);
}

a:hover {
    color: rgba(181, 167, 163);
}

ul,
ol {
    margin-left: 2em;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

h1 {
    font-family: Audiowide;
    font-size: clamp(1rem, 1rem + 1vw, 3rem);
    text-align: center;
}

img {
    max-width: 100%;
}

.sidebar {
    background-color: rgba(125 111 106);
    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}

.sidebar ul {
    visibility: hidden;
}

.signup {
    border-radius: 20px;
    padding: 0.5em 1.5em;
    background-color: var(--theme-color-light);
}

.signup:hover {
    background-color: var(--theme-color-dark);
    border: 2px solid var(--theme-color-light);
}

.img-credit {
    position: absolute;
    bottom: 10px;
    font-size: 0.8rem;
    color: rgba(181, 167, 163);
}

.img-credit > a {
    color: rgba(181, 167, 163);
}

.details > div {
    color: var(--theme-color-light);
    font-weight: bold;
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.content {
    background-color: var(--theme-color-light);
    padding: 1em;
    display: grid; 
    gap: 1em;
    overflow: auto;
}

h3 {
    margin-bottom: 0.5em;
}

.content p {
    max-width: 65ch;
    margin: 0.5em;
}